/* Etch-A-Sketch CSS */

body {
	background-color: #CCCCCC;
}

h1 { 
	font-family: cursive;
	color: gray;
}

#header {
	height: 150px;
	width: 600px;
	margin: auto;
	padding-bottom: 10px;
	background-color: #66CCFF;
	border: 5px solid gray;
	border-radius: 20%;
	border-bottom: none;
	text-align: center;
	position: relative; /* ??? */
}


.button {
	display: inline-block;
	height: 30px;
	width: 110px;
	background-color: #0000CC;
	color: gray;
	border-color: white;
	border-radius: 10px;
	text-align: center;
}

.button:hover {
	background-color: white;
	color: #000099;
}

#rainbow:hover {
	background-color: red;
	color: yellow;
}

#black:hover {
	background-color: black;
	color: gray;
}

#container {
	text-align: center;
	height: 480px;
	width: 95%;
	border: 2px solid gray;
	border-radius: 5px;
	background-color: none;
	position: absolute;
	margin: auto;
}

.squares {
	background-color: white;
	float: left;
}