/* Etch-A-Sketch CSS */

body {
	background-color: #CCCCCC;
}

h1 { 
	font-family: cursive;
	color: gray;
}

#header {
	height: 150px;
	width: 600px;
	margin: auto;
	padding-bottom: 10px;
	background-color: #66CCFF;
	border: 5px solid gray;
	border-radius: 20%;
	border-bottom: none;
	text-align: center;
}


.button {
	display: inline-block;
	height: 30px;
	width: 110px;
	background-color: #0000CC;
	color: gray;
	border-radius: 10px;
	text-align: center;
}

.button:hover {
	background-color: white;
	color: #000099;
}

#rainbow:hover {
	background-color: red;
	color: yellow;
}

#black:hover {
	background-color: black;
	color: gray;
}

/* Etch-A-Sketch Board */

#board {
	width: 600px;
	height: 400px;
	border: 3px solid #66CCFF;
	background-color: gray;
	margin: 0 auto;
}

/* Individual Squares that make up board */

.square {
	float: left;
	outline: 1px solid blue;
}

/* Squares Fill Color */

.filler {
	background-color: white;
}