/* CSS Style Sheet for Google Home Page */

html body {
  height: 100%;
  margin padding: 0;
  font-size: 13px;
  font-family: arial;
}

#wrapper {
  position: absolute;
  height: 100px;
  width: 100%;
  margin: 0;
  padding: 0;
}

#header {
  position: relative;
  display: inline-block;
	height: 100px;
  width: 100%;
  top: 0px;
}

.navbar {
  float: right;
  top: 0px;
  padding-left: 20px;
}

li {
	display: inline-block;
  padding-left: 20px;
}

a {
	text-decoration: none;
	color: #404040;
  padding-left: 15px;
}

a:hover {
	text-decoration: underline;
}

#section {
  height: 233px;
  margin-top: 89px;
}

#google_logo {
  display: block;
  height: 95px;
  width: 269px;
  margin: auto;
  margin-top: 80px;
  padding-top: 112px;
}

#search_bar {
  display: block;
  height: 50px;
  width: 250px;
  margin: auto;
  padding-top: 10px;
}

.buttons {
  display: block;
  height: 22px;
  width: 250px;
  margin: auto;
  margin-top: 10px;  color: #f2f2f2;
  font-weight: bold;
}

.buttons:hover {
  text-decoration: none;
}

#google_search {
  background-color: #f2f2f2;
}

.submit {
  position: absolute;
}


#footer {
    position: absolute;
    bottom: 0;
    height: 15px;
    width: 100%;
    padding: 15px;
    background-color: #f2f2f2;
}

#left_footer {
  float: left;
  padding-left: 10px;
}

#right_footer {
  float: right;
  padding-right: 20px;
}